*{
   padding: 0;
   margin: 0;
 }
 
 .fundo{
    width: 100%;
    background: linear-gradient(180deg, #FF769F 0%, rgba(244, 170, 192, 0.00) 60.5%, rgba(255, 106, 151, 0.13) 99.1%, rgba(111, 58, 74, 0.00) 100%);
 position: absolute;
  height: 900px;
  overflow: hidden;
 }
 
 .titulo{
    text-align: center;
    font-size: 100px;
    font-family: Georgia;
    position: absolute;
    text-align: center;
    top: 49px;
 left: 579px;
    color:F61010 ;
     }
 
     .textoprincipal{
      position: absolute;
      top: 400px;
      position: absolute;
      top: 215px;
      left: 25px;
      font-size: 23px;
 text-align: center;
     }
   
    .logo{
       width: 248px;
       position: absolute;
       top: -132px;
       left: 90px;
    }
 
    .predio{
       width: 309px;
 height: 280px;
 flex-shrink: 0;
 position: absolute;
 top: 381px;
 left: 165px;
    }
 
    .portifolio{
       width: 321px;
 flex-shrink: 0;
 position: absolute;
 top: 213px;
 left: 757px;
    }
 
 
    .contato{
      width: 305px;
      height: 280px;
      position: absolute;
      top: 384px;
      left: 1374px;
   padding-right: 50px;
   }
      

 .historia{
   position: absolute;
top: 688px;
left: 231px;
 }

 .fotos{
   position: absolute;
top: 688px;
left: 891px;
 }

 .continsta{
   position: absolute;
   top: 688px;
   left: 1493px;

margin-left: 300px;
 }

 .localizaçao{
   width: 88px;
   position: absolute;
   top: 30px;
   left: 1540px;

 }

.local{
   position: absolute;
   top: 100px;
   left: 1636px;
   font-size: 20px;
}

.frase{
   position: relative;
top: 820px;
text-align: center;
font-size: 22px;.
}