.fundo{
    width: 100%;
background: linear-gradient(180deg, #A83234 0%, rgba(168, 50, 52, 0) 100%);
position: absolute;
  height: 900px;
  overflow: hidden;
 }

 .titulo{
    text-align: center;
    font-size: 70px;
    font-family: Georgia;
     }
